body {
    text-align: center;
    background-color: black;
}
h1 {
    font-family: Verdana;
    color: white;
    font-size: 50px;
    text-align: center;
}
.comingSoon {
    color: aquamarine;
    font-size: 16px;
}
p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}
h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}
h5 {
    color: gray;
    text-align: right;
    font-size: 21px;
    font-family: Verdana;
}